* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 100%;
}

section {
    width: 100%;
    text-align: center;
}

.section-header {
    width: 100%
}

.workout__form {
    width: 200px;
    height: 200px;

    background-color: cadetblue;
}

.meal__form {
    width: 200px;
    height: 250px;

    background-color: cadetblue;
}