* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 100%;
}

section {
    width: 100%;
    text-align: center;
}

.section-header {
    width: 100%
}

.page-section {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
